<h4>Path Diagram(BFS search)</h4>
<table>
  <% @grid_evaluation.grid.split("\n").each_with_index do |row, row_index| %>
    <tr>
      <% row.split('').each_with_index do |cell, col_index| %>
        <% if @grid_evaluation.bfs_path.include?([row_index, col_index]) %>
          <td class="conductive"><%= cell %></td>
        <% else %>
          <td><%= cell %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

Result: <%= @grid_evaluation.result ? 'TRUE' : 'FALSE' %>
<br>
<%= link_to 'Back to list', grid_evaluations_path, class: 'btn btn-primary' %>
