table {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

#generate_grid_button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-control {
  margin-bottom: 10px;
}

.btn {
  margin-right: 5px;
}

.conductive {
  background: #02DF82;
}